PORT=5000
MONGODB_URI=mongodb+srv://prasanth:va0i5PiiArbqjDBy@cluster0.xtk8c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=a46f15bedca5daba1b47c6947a2c2435
NODE_ENV=development
